body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #3f51b5;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    text-align: center;
}

.transport {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.transport-item {
    width: 200px;
    margin-bottom: 20px;
}

.college-dome{
    width: 200px;
    margin-bottom: 20px;
}

.transport-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.college-dome img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    background-color: #3f51b5;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
